* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

div.dash-1 {
	background-color: #45be8b;
	width: 17%;
	height: 100vh;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.isi-dash1 h1 a {
	text-decoration: none;
	color: #eee;
}

div.column-dash1 .log-out {
	position: absolute;
	display: flex;
	bottom: 40px;
	flex-direction: row;
	width: 80%;
	color: rgb(220, 220, 220);
	align-items: center;
	margin: 20px 0;
}

div.log-out h1 {
	font-size: 1.4em;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
}

div.log-out h1 a {
	text-decoration: none;
	color: rgb(220, 220, 220);
}

div.column-dash1 .log-out:hover,
div.column-dash1 .log-out:hover h1 a {
	color: #fff;
}

div.log-out i {
	padding-left: 30px;
	transform: rotate(180deg);
}

table {
	margin: auto;
	width: 60%;
}

td,
th {
	padding: 2em;
	text-align: center;
}

h1.title {
	font-size: 3em;
	text-align: center;
	margin: 50px auto;
}

div.column-dash1 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 2em;
	box-sizing: border-box;
}

div.dash1-title {
	width: 85%;
	color: #e9eeff;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.dash1-column {
	width: 100%;
	margin: 80px auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

div.isi-dash1 {
	display: flex;
	flex-direction: row;
	width: 80%;
	color: rgb(220, 220, 220);
	align-items: center;
	margin: 20px 0;
}

div.isi-dash1.active,
div.isi-dash1.active h1 a {
	color: #fff;
}

div.isi-dash1 h1 {
	font-size: 1.4em;
	cursor: pointer;
	font-weight: 600;
	letter-spacing: 1px;
}

div.isi-dash1:not(:last-child) i {
	padding-right: 30px;
}

div.isi-dash1:last-child i {
	padding-left: 30px;
	transform: rotate(180deg);
}

div.dash-2 {
	width: 83%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #f9fafe;
}

div.menubar-dash2 {
	width: 100%;
	background-color: #fffeff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	box-sizing: border-box;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	border-radius: 20px;
}

div.menubar-left h1 {
	font-weight: 600;
	font-size: 1.5em;
}

div.menubar-right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 15%;
	align-items: center;
}

div.menubar-right h1 {
	font-size: 1.5em;
}

div.profile {
	background-image: url('coco.jpg');
	background-position: cover;
	width: 50px;
	background-position: -80px -300px;
	height: 50px;
	border-radius: 50%;
}

div.isibar {
	width: 100%;
}

div.isibar-title {
	padding: 50px 30px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.isibar-title h1 {
	font-size: 2.3em;
}

div.isibar-right button {
	background-color: #45be8b;
	padding: 20px 30px;
	border-radius: 10px;
	color: #eee;
	font-size: 1.2em;
	letter-spacing: 0.2em;
	border: none;
	font-weight: 500;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.isibar-right:hover button {
	background-color: #55d7a1;
}

div.isibar-box {
	width: 96%;
	border-radius: 20px;
	margin: auto;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.headbar-box,
div.isibari-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 20px 30px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}

div.hb-1 {
	width: 45%;
}

div.hb-2 {
	width: 15%;
}

div.hb-3 {
	width: 15%;
}

div.hb-4 {
	width: 10%;
}

div.hb-5 {
	width: 15%;
}

div.hb-1 h1,
div.hb-2 h1,
div.hb-3 h1 {
	font-size: 1.3em;
}

div.isibari-box {
	padding: 0 30px 20px;
}

div.search {
	cursor: pointer;
	width: 90%;
	background-color: #f4f4f5;
	padding: 15px 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	border-radius: 20px;
}

div.search i {
	padding-right: 20px;
}

div.search h1 {
	font-size: 1.2em;
}

div.search i,
div.search h1 {
	color: #a6b0bf;
	font-weight: 400;
}

div.category,
div.status,
div.icon-hb {
	width: 80%;
	border-radius: 20px;
	padding: 12px 30px;
	box-sizing: border-box;
	border: 3px solid #f3f5f8;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

div.category i,
div.status i {
	color: #a6b0bf;
}

div.category h1,
div.status h1 {
	color: #a6b0bf;
	font-weight: 400;
}

div.icon-hb {
	width: 30%;
	display: flex;
	background-color: #f4f4f5;
	justify-content: center;
	color: #929dae;
}

div.button-hb {
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

div.button-hb button {
	cursor: pointer;
	width: 100%;
	margin: auto;
	background-color: #45be8b;
	padding: 15px 80px;
	border-radius: 10px;
	color: #eee;
	font-size: 1.2em;
	border: none;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

div.tablebar {
	width: 96%;
	border-radius: 80px;
	margin: 40px auto 40px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 20px;
	justify-content: space-between;
	align-items: center;
}

div.tbhead-box {
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 20px 30px;
	box-sizing: border-box;
	align-items: center;
}

div.tablebar h1 {
	font-size: 1.5em;
}

div.tb-1 {
	width: 25%;
}

div.tb-2 h1 {
	font-size: 1.2em;
	font-weight: 300;
}

div.tb-2 div.all-column {
	width: 70%;
}

div.tb-2 div.all-column,
div.tb-3 div.dispatch {
	display: flex;
	flex-direction: row;
	padding: 12px 30px;
	box-sizing: border-box;
	border: 3px solid #f3f5f8;
	border-radius: 20px;
	align-items: center;
}

div.tb-2 div.all-column h1,
div.tb-3 div.dispatch h1 {
	font-size: 1.1em;
	font-weight: 700;
}

div.tb-3 div.dispatch {
	justify-content: center;
	border: none;
	background-color: #45be8b;
	color: #ffffff;
	letter-spacing: 0.5px;
}

div.tb-3 div.dispatch h1 {
	font-weight: 600;
}

div.tb-2 div.all-column i {
	padding-left: 20px;
}

div.tb-2 {
	justify-content: space-evenly;
	align-items: center;
	display: flex;
	width: 35%;
}

div.tb-3 {
	width: 15%;
}

div.tb-4 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 25%;
}

div.numeric {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #8999aa;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
}

div.numeric a {
	font-size: 1.1em;
	font-weight: 600;
	text-decoration: none;
	color: #8999aa;
}

div.arrow {
	padding: 10px 10px;
	box-sizing: border-box;
	border: 3px solid #f3f5f8;
	box-sizing: border-box;
	border-radius: 10px;
}

.choosen {
	padding: 10px 30px;
	box-sizing: border-box;
	background-color: #45be8b;
	color: #fff !important;
	border-radius: 10px;
	font-size: 1.3em;
}

div.recordbar-box {
	background-color: #f8faff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
	align-items: center;
}

div.rb-h1 h1 {
	font-size: 1.2em;
	color: #606468;
	font-weight: 500;
}

div.rb-h1 {
	display: flex;
	align-items: center;
}

div.rb-1 {
	flex: 2;
}

div.rb-tb3-1 {
	flex: 4;
}

div.rb-2 {
	flex: 4;
}

div.rb-3 {
	flex: 5;
}

div.rb-4 {
	flex: 3;
}

div.rb-5 {
	flex: 4;
}

div.rb-6 {
	flex: 3;
}

div.rb-7 {
	flex: 4;
}

div.rb-bold h1 {
	font-weight: bold;
	font-size: 1.3em;
}

div.base-record {
	display: flex;
	flex-direction: column;
	width: 100%;
}

div.rb-fields {
	background-color: #fff !important;
}

div.tablebar hr {
	margin: auto;
	opacity: 0.2;
}
