* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url(../img/fixkiri1.png);
  background-size: cover;
  width: 100%;
  height: 100%;
}

#wrapper {
  max-width: 800px;
  height: auto;
  background-color: red;
  padding: 70px 0;
  margin: 150px 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

p {
  font-size: 16px;
  color: rgb(88, 88, 88);
}
form {
  border-radius: 20px;
}

input {
  font-size: 16px;
  border-radius: 5px;
  height: 50px;
  width: 400px;
  padding: 0 14px;
  box-sizing: border-box;
  background-color: #f5f5ff;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  outline: 0;
}

input:focus {
  outline: 3px solid #57e1a7;
}

button {
  width: 200px;
  justify-self: flex-start;
  height: 40px;
  font-size: 16px;
  border-radius: 5px;
  color: white;
  border: 0;
  background-color: #45be8b;
  transition: 0.3s linear;
  cursor: pointer;
}

button:hover {
  background-color: #45ac81;
}

@media screen and (max-width: 460px) {
  body {
    background-position: center;
  }
  #wrapper {
    margin: 100px 30px;
  }
  input {
    height: 40px;
    width: 300px;
  }
}
